body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #AEB6C0 ;
    text-align: center;
}
 
header {
    background-color: #0051A7;
    color: #fff;
    text-align: center;
    padding: 15px;
    height: 180px;
}
 
h1 {
    font-size: 2em;
    margin: 10;
}
 
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
 
.Pesquisar {
   border-radius: 10px ;
   width: 400px;
   height: 30px;
   border-color: transparent;
}
.pesquisar {
    width: 80px;
    height: 30px;
    border-radius: 10px;
    border-color: transparent;
   
}
 
/* Estilos para exibir 4 Pokémon por linha */
.card{
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(20% - 20px); /* Calcula 25% do espaço menos as margens */
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block; /* Garante que fiquem em linha reta */
 
}
 
.card{
    color: white;
    background: none;
    border: 2px solid white;
  }
button:hover{
    color: black;
    background-color: rgb(236, 152, 152);
  }
.card{
    background-color: white;
    color: black;
   
}
 
.card img {
    width: 80px;
    height: 80px;
}
 
.card h2 {
    font-size: 1.2em;
}
 
.imagem{
    width: 100px;
}

.jogo {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 200%;
    max-width: 600px;
  }
  
  .pokemon__image {
    position: absolute;
    bottom: 50%;
    left: 40%;
    transform: translate(-63%, 20%);
    height: 40%;
  }
  .pokemon__height {
    position: absolute;
   top: 180px;
    right: 250%;
    height: 40%;
  }
  
  .pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #908d8d;
    top: 10%;
    right: 7%;
    font-size: clamp(8px, 5vw, 25px);
  }
  
  .pokemon__name {
    color: #3a444d;
    text-transform: capitalize;
    font-size: 15px;
  }
  
  .form {
    position: absolute;
    width: 65%;
    top: 55%;
    left: 52%;
  }
  
  .input__search {
    width: 30%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-size: 10px;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    
  }
  
  .buttons {
    position: absolute;
    bottom: 12%;
    left: 85%;
    width: 10%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
  }
  
  .button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
  }
  
  .button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
  }
  
.menu {
    background-color: #2874A6 ;
    left: 50px;
    height: 50px;
}

.Pesquisar {
    margin-top: 10px;
}

.pikachu{
    float: right;
    margin: 2px;
}

.pikachul{
    float: left;
    margin: 2px;
}
 
footer {
  background-color: #2874A6;
  height: 50px;
  
}




